{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "modules": false
      }
    ]
  ],
  "plugins": ["lodash"],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
