{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8",
          "browsers": "> 0.25%, not dead"
        }
      }
    ]
  ],
  "plugins": ["lodash", "@babel/plugin-transform-runtime"]
}
